<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Tester</title>
</head>
<body>
    <h1>Login: Cookies were already set ^_^ !!</h1>
    <br>
    <h2> Value = 
        <span id="cookieValue"><%= cookie %></span>
    </h2>
    <br>
    <a href="checkCookie">Check Cookie</a>
</body>
</html>